body{
    background-color: #17181f;
    color: #aaa;
}
*{
    box-sizing: border-box;
}
main{
    max-width: 300px;
    margin: 20px auto;
}
form{
    border: 3px solid #30313D;
    border-radius: 10px;
    padding: 5px;
    display: flex;
}
form input[type="text"]{
    background: none;
    color: #fff;
    border: 0;
    padding: 5px 8px;
    display: block;
    width: 100%;
}
form button{
    background-color: #9D8CA1;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
}
div.task{
    background-color: #20212D;
    border-radius: 10px;
    padding: 5px 9px;
    margin-top: 5px;
    display: flex;
}
div.task svg{
    height: 20px;
    margin-right: 4px;
    fill: #9D8CA1;
}
div.task.done{
    opacity: 0.3;
}
div.task-name, div.task form{
    flex-grow: 1;
}
div.task span{
    position: relative;
    flex-grow: 1;
}
div.task span:before{
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: #ddd;
}
div.checkbox{
    display: flex;
    align-items: center;
}
button.trash{
    background: none;
    border: none;
    display: flex;
    cursor: pointer;
}
button.trash svg{
    fill: gray;
    height: 14px;
}
div.task input{
    border: 2px solid #555;
    border-radius: 5px;
    padding: 2px 4px;
}
